@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
	themes: all;
}
@plugin "daisyui/theme" {
	name: 'business';
	color-scheme: 'dark';
	--radius-selector: 1rem;
	--radius-field: 1rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
}
